<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class='container text-center'>
<h1 class='alert alert-success'>ABOUT THIS WEBSITE</h1>
Hello friends!!!
<br>
<p1>This website is created by Asheesh Kumar Shukla.</p1>
<br>
<p1>This website generates a random password using capital letters, small letters, numbers and special characters within the range of 6 to 14 characters long as user select.</p1>
<br>
<br>
<form action='{% url "home" %}'>
    <input type='submit' value='Home' class='btn btn-primary'>
</form>
</div>